<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>773728872522-h6fb9dfhco0umg9i5pvg3ngi9q6umr9c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.773728872522-h6fb9dfhco0umg9i5pvg3ngi9q6umr9c</string>
	<key>API_KEY</key>
	<string>AIzaSyAejV1UCoOyUFOQl0lyupJL3M-Cxf36M1k</string>
	<key>GCM_SENDER_ID</key>
	<string>773728872522</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jmechristiandigital.fluttershare</string>
	<key>PROJECT_ID</key>
	<string>fluttershare-53e15</string>
	<key>STORAGE_BUCKET</key>
	<string>fluttershare-53e15.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:773728872522:ios:bdace3363cc372bb0c5eb3</string>
	<key>DATABASE_URL</key>
	<string>https://fluttershare-53e15.firebaseio.com</string>
</dict>
</plist>